In [1]:
import pandas as pd
import numpy as np

Created CSV files from Pro Football Reference website for 4 players. Added those files into jupyter using pandas. The 4 players being used include:
    1. Jalen Hurts (subject of analysis)
    2. Patrick Mahomes (number 1 quarterback in the NFL)
    3. Joe Burrow (same draft class as subject)
    4. Derek Carr (average quarterback for comparison)

In [2]:
hurts_df = pd.read_csv('/Users/noah/Desktop/Player Efficiency Analysis/CSV/HurtsCareer.csv')
mahomes_df = pd.read_csv('/Users/noah/Desktop/Player Efficiency Analysis/CSV/MahomesCareer.csv')
burrow_df = pd.read_csv('/Users/noah/Desktop/Player Efficiency Analysis/CSV/BurrowCareer.csv')
carr_df = pd.read_csv('/Users/noah/Desktop/Player Efficiency Analysis/CSV/CarrCareer.csv')

pd.set_option('display.max_columns', None)
hurts_df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Passing,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Rushing,Unnamed: 23,Unnamed: 24,Unnamed: 25,Receiving,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Scoring,Unnamed: 34,Unnamed: 35,Unnamed: 36,Tackles,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Fumbles,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Off. Snaps,Unnamed: 49,Def. Snaps,Unnamed: 51,ST Snaps,Unnamed: 53,Unnamed: 54
0,Rk,Year,Date,G#,Week,Age,Tm,NaN,Opp,Result,GS,Cmp,Att,Cmp%,Yds,TD,Int,Rate,Sk,Yds,Y/A,AY/A,Att,Yds,Y/A,TD,Tgt,Rec,Yds,Y/R,TD,Ctch%,Y/Tgt,2PM,TD,Pts,Sk,Solo,Ast,Comb,TFL,QBHits,Fmb,FL,FF,FR,Yds,TD,Num,Pct,Num,Pct,Num,Pct,Status
1,1,2020,9/13/20,1,1,NaN,PHI,@,WAS,L 17-27,Inactive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2020,9/20/20,2,2,22.044,PHI,NaN,LAR,L 19-37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00%,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,0,0,0,3,4%,0,0%,0,0%,NaN
3,3,2020,9/27/20,3,3,22.051,PHI,NaN,CIN,T 23-23,NaN,0,0,NaN,0,0,0,NaN,0,0,NaN,NaN,2,5,2.5,0,0,0,0,NaN,0,0.00%,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,1,-4,0,3,3%,0,0%,0,0%,NaN
4,4,2020,10/4/20,4,4,22.058,PHI,@,SFO,W 25-20,NaN,0,0,NaN,0,0,0,NaN,0,0,NaN,NaN,3,18,6,0,0,0,0,NaN,0,0.00%,NaN,NaN,0,0,0,0,0,0,0,0,1,0,0,1,-8,0,4,6%,0,0%,0,0%,NaN

Removing unneeded columns from the dataframe and rename columns to be more consistent with the statisitic. Renamed certain statistics to ensure ease of understanding during EDA phase. Changed dtype of numerical statisitics and changed date string to datetime type. Filled NaN values with the column average to ensure statisitics are not thrown off due to inaccurate values. 

These steps were done to all 4 players' dataframes.

In [3]:
hurts_df.columns = hurts_df.iloc[0]
hurts_df = hurts_df.drop(0)
hurts_df.reset_index(drop=True, inplace=True)

list_of_columns = [0,1,2,4,6,7,8,9,10,12,13,14,15,16,18,22,23,34,48]
hurts_df = hurts_df.iloc[:,list_of_columns]
hurts_df.head()

new_names = ['Rank','Year','Date','Week','Team','H/A', 'Opp','Result','Status','Pass Att',
            'Cmp%','Pass YDs','Pass TDs','Int','Sacks','Rush Att','Rush YDs','TDs','Snaps']
old_names = hurts_df.columns
hurts_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

new_column_name = 'Pass Att'
hurts_df.columns.values[9] = new_column_name
new_column_name2 = 'Pass YDs'
hurts_df.columns.values[11] = new_column_name2
new_column_name3 = 'Pass TDs'
hurts_df.columns.values[12] = new_column_name3

hurts_df = hurts_df.drop(62)

hurts_df['H/A'] = hurts_df['H/A'].fillna('Home')
hurts_df['H/A'] = hurts_df['H/A'].replace('@', 'Away')
hurts_df['Status'] = hurts_df['Status'].fillna('DNS')
hurts_df['Status'] = hurts_df['Status'].replace('*', 'Start')

hurts_df.iloc[:,0:2] = hurts_df.iloc[:, 0:2].astype(float)
hurts_df.iloc[:,3:4] = hurts_df.iloc[:, 3:4].astype(float)
hurts_df['Date'] = pd.to_datetime(hurts_df['Date'])
hurts_df.iloc[:,9:] = hurts_df.iloc[:,9:].astype(float)

averaging_columns = ['Pass Att','Cmp%','Pass YDs','Pass TDs','Int','Sacks','Rush Att','Rush YDs','TDs','Snaps']
for i in averaging_columns:
    hurts_df[i] = hurts_df[i].fillna((hurts_df[i].mean()))

/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/251883259.py:28: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  hurts_df.iloc[:,0:2] = hurts_df.iloc[:, 0:2].astype(float)
/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/251883259.py:29: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  hurts_df.iloc[:,3:4] = hurts_df.iloc[:, 3:4].astype(float)
/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/251883259.py:31: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  hurts_df.iloc[:,9:] = hurts_df.iloc[:,9:].astype(float)

In [4]:
hurts_df.head()

,Rank,Year,Date,Week,Team,H/A,Opp,Result,Status,Pass Att,Cmp%,Pass YDs,Pass TDs,Int,Sacks,Rush Att,Rush YDs,TDs,Snaps
0,1.0,2020.0,2020-09-13,1.0,PHI,Away,WAS,L 17-27,Inactive,25.767857,65.2764,194.660714,1.125,0.517857,1.946429,8.714286,41.571429,0.666667,55.175439
1,2.0,2020.0,2020-09-20,2.0,PHI,Home,LAR,L 19-37,DNS,25.767857,65.2764,194.660714,1.125,0.517857,1.946429,8.714286,41.571429,0.000000,3.000000
2,3.0,2020.0,2020-09-27,3.0,PHI,Home,CIN,T 23-23,DNS,0.000000,65.2764,0.000000,0.000,0.000000,0.000000,2.000000,5.000000,0.000000,3.000000
3,4.0,2020.0,2020-10-04,4.0,PHI,Away,SFO,W 25-20,DNS,0.000000,65.2764,0.000000,0.000,0.000000,0.000000,3.000000,18.000000,0.000000,4.000000
4,5.0,2020.0,2020-10-11,5.0,PHI,Away,PIT,L 29-38,DNS,1.000000,100.0000,18.000000,0.000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000

In [5]:
mahomes_df.columns = mahomes_df.iloc[0]
mahomes_df = mahomes_df.drop(0)
mahomes_df.reset_index(drop=True, inplace=True)

list_of_columns = [0,1,2,4,6,7,8,9,10,12,13,14,15,16,18,22,23,34,48]
mahomes_df = mahomes_df.iloc[:,list_of_columns]
mahomes_df.head()

new_names = ['Rank','Year','Date','Week','Team','H/A', 'Opp','Result','Status','Pass Att',
            'Cmp%','Pass YDs','Pass TDs','Int','Sacks','Rush Att','Rush YDs','TDs','Snaps']
old_names = mahomes_df.columns
mahomes_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

new_column_name = 'Pass Att'
mahomes_df.columns.values[9] = new_column_name
new_column_name2 = 'Pass YDs'
mahomes_df.columns.values[11] = new_column_name2
new_column_name3 = 'Pass TDs'
mahomes_df.columns.values[12] = new_column_name3

mahomes_df = mahomes_df.drop(110)

mahomes_df['H/A'] = mahomes_df['H/A'].fillna('Home')
mahomes_df['H/A'] = mahomes_df['H/A'].replace('@', 'Away')
mahomes_df['Status'] = mahomes_df['Status'].replace('*', 'Start')

mahomes_df.iloc[:,0:2] = mahomes_df.iloc[:, 0:2].astype(float)
mahomes_df.iloc[:,3:4] = mahomes_df.iloc[:, 3:4].astype(float)
mahomes_df['Date'] = pd.to_datetime(mahomes_df['Date'])
mahomes_df.iloc[:,9:] = mahomes_df.iloc[:,9:].astype(float)

averaging_columns = ['Pass Att','Cmp%','Pass YDs','Pass TDs','Int','Sacks','Rush Att','Rush YDs','TDs','Snaps']
for i in averaging_columns:
    mahomes_df[i] = mahomes_df[i].fillna((mahomes_df[i].mean()))

/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/3393540395.py:27: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  mahomes_df.iloc[:,0:2] = mahomes_df.iloc[:, 0:2].astype(float)
/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/3393540395.py:28: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  mahomes_df.iloc[:,3:4] = mahomes_df.iloc[:, 3:4].astype(float)
/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/3393540395.py:30: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  mahomes_df.iloc[:,9:] = mahomes_df.iloc[:,9:].astype(float)

In [6]:
mahomes_df.head()

,Rank,Year,Date,Week,Team,H/A,Opp,Result,Status,Pass Att,Cmp%,Pass YDs,Pass TDs,Int,Sacks,Rush Att,Rush YDs,TDs,Snaps
0,1.0,2017.0,2017-09-07,1.0,KAN,Away,NWE,W 42-27,Did Not Play,37.358696,66.879891,297.478261,2.326087,0.641304,1.5,3.869565,20.413043,0.130435,66.152174
1,2.0,2017.0,2017-09-17,2.0,KAN,Home,PHI,W 27-20,Did Not Play,37.358696,66.879891,297.478261,2.326087,0.641304,1.5,3.869565,20.413043,0.130435,66.152174
2,3.0,2017.0,2017-09-24,3.0,KAN,Away,LAC,W 24-10,Did Not Play,37.358696,66.879891,297.478261,2.326087,0.641304,1.5,3.869565,20.413043,0.130435,66.152174
3,4.0,2017.0,2017-10-02,4.0,KAN,Home,WAS,W 29-20,Did Not Play,37.358696,66.879891,297.478261,2.326087,0.641304,1.5,3.869565,20.413043,0.130435,66.152174
4,5.0,2017.0,2017-10-08,5.0,KAN,Away,HOU,W 42-34,Did Not Play,37.358696,66.879891,297.478261,2.326087,0.641304,1.5,3.869565,20.413043,0.130435,66.152174

In [7]:
burrow_df.columns = burrow_df.iloc[0]
burrow_df = burrow_df.drop(0)
burrow_df.reset_index(drop=True, inplace=True)

list_of_columns = [0,1,2,4,6,7,8,9,10,12,13,14,15,16,18,22,23,26,40]
burrow_df = burrow_df.iloc[:,list_of_columns]
burrow_df.head()

new_names = ['Rank','Year','Date','Week','Team','H/A', 'Opp','Result','Status','Pass Att',
            'Cmp%','Pass YDs','Pass TDs','Int','Sacks','Rush Att','Rush YDs','TDs','Snaps']
old_names = burrow_df.columns
burrow_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

new_column_name = 'Pass Att'
burrow_df.columns.values[9] = new_column_name
new_column_name2 = 'Pass YDs'
burrow_df.columns.values[11] = new_column_name2
new_column_name3 = 'Pass TDs'
burrow_df.columns.values[12] = new_column_name3

burrow_df = burrow_df.drop(61)

burrow_df['H/A'] = burrow_df['H/A'].fillna('Home')
burrow_df['H/A'] = burrow_df['H/A'].replace('@', 'Away')
burrow_df['Status'] = burrow_df['Status'].replace('*', 'Start')

burrow_df.iloc[:,0:2] = burrow_df.iloc[:, 0:2].astype(float)
burrow_df.iloc[:,3:4] = burrow_df.iloc[:, 3:4].astype(float)
burrow_df['Date'] = pd.to_datetime(burrow_df['Date'])
burrow_df.iloc[:,9:] = burrow_df.iloc[:,9:].astype(float)

averaging_columns = ['Pass Att','Cmp%','Pass YDs','Pass TDs','Int','Sacks','Rush Att','Rush YDs','TDs','Snaps']
for i in averaging_columns:
    burrow_df[i] = burrow_df[i].fillna((burrow_df[i].mean()))

/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/1670487906.py:27: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  burrow_df.iloc[:,0:2] = burrow_df.iloc[:, 0:2].astype(float)
/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/1670487906.py:28: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  burrow_df.iloc[:,3:4] = burrow_df.iloc[:, 3:4].astype(float)
/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/1670487906.py:30: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  burrow_df.iloc[:,9:] = burrow_df.iloc[:,9:].astype(float)

In [8]:
burrow_df.head()

,Rank,Year,Date,Week,Team,H/A,Opp,Result,Status,Pass Att,Cmp%,Pass YDs,Pass TDs,Int,Sacks,Rush Att,Rush YDs,TDs,Snaps
0,1.0,2020.0,2020-09-13,1.0,CIN,Home,LAC,L 13-16,Start,36.0,63.89,193.0,0.0,1.0,3.0,8.0,46.0,1.0,68.0
1,2.0,2020.0,2020-09-17,2.0,CIN,Away,CLE,L 30-35,Start,61.0,60.66,316.0,3.0,0.0,3.0,7.0,19.0,0.0,92.0
2,3.0,2020.0,2020-09-27,3.0,CIN,Away,PHI,T 23-23,Start,44.0,70.45,312.0,2.0,0.0,8.0,1.0,-1.0,0.0,71.0
3,4.0,2020.0,2020-10-04,4.0,CIN,Home,JAX,W 33-25,Start,36.0,69.44,300.0,1.0,1.0,1.0,4.0,11.0,0.0,75.0
4,5.0,2020.0,2020-10-11,5.0,CIN,Away,BAL,L 3-27,Start,30.0,63.33,183.0,0.0,1.0,7.0,3.0,10.0,0.0,67.0

In [9]:
carr_df.columns = carr_df.iloc[0]
carr_df = carr_df.drop(0)
carr_df.reset_index(drop=True, inplace=True)

list_of_columns = [0,1,2,4,6,7,8,9,10,12,13,14,15,16,18,22,23,33,41]
carr_df = carr_df.iloc[:,list_of_columns]
carr_df.head()

new_names = ['Rank','Year','Date','Week','Team','H/A', 'Opp','Result','Status','Pass Att',
            'Cmp%','Pass YDs','Pass TDs','Int','Sacks','Rush Att','Rush YDs','TDs','Snaps']
old_names = carr_df.columns
carr_df.rename(columns=dict(zip(old_names, new_names)), inplace=True)

new_column_name = 'Pass Att'
carr_df.columns.values[9] = new_column_name
new_column_name2 = 'Pass YDs'
carr_df.columns.values[11] = new_column_name2
new_column_name3 = 'Pass TDs'
carr_df.columns.values[12] = new_column_name3

carr_df = carr_df.drop(158)

carr_df['H/A'] = carr_df['H/A'].fillna('Home')
carr_df['H/A'] = carr_df['H/A'].replace('@', 'Away')
carr_df['Status'] = carr_df['Status'].replace('*', 'Start')

carr_df.iloc[:,0:2] = carr_df.iloc[:, 0:2].astype(float)
carr_df.iloc[:,3:4] = carr_df.iloc[:, 3:4].astype(float)
carr_df['Date'] = pd.to_datetime(carr_df['Date'])
carr_df.iloc[:,9:] = carr_df.iloc[:,9:].astype(float)

averaging_columns = ['Pass Att','Cmp%','Pass YDs','Pass TDs','Int','Sacks','Rush Att','Rush YDs','TDs','Snaps']
for i in averaging_columns:
    carr_df[i] = carr_df[i].fillna((carr_df[i].mean()))

/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/3008690790.py:27: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  carr_df.iloc[:,0:2] = carr_df.iloc[:, 0:2].astype(float)
/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/3008690790.py:28: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  carr_df.iloc[:,3:4] = carr_df.iloc[:, 3:4].astype(float)
/var/folders/k3/_g_691l13vb22jwrccxm27dc0000gn/T/ipykernel_29889/3008690790.py:30: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  carr_df.iloc[:,9:] = carr_df.iloc[:,9:].astype(float)

In [10]:
carr_df.head()

,Rank,Year,Date,Week,Team,H/A,Opp,Result,Status,Pass Att,Cmp%,Pass YDs,Pass TDs,Int,Sacks,Rush Att,Rush YDs,TDs,Snaps
0,1.0,2014.0,2014-09-07,1.0,OAK,Away,NYJ,L 14-19,Start,32.0,62.50,151.0,2.0,0.0,2.0,1.0,-1.0,0.0,52.0
1,2.0,2014.0,2014-09-14,2.0,OAK,Home,HOU,L 14-30,Start,42.0,64.29,263.0,1.0,2.0,0.0,4.0,58.0,0.0,62.0
2,3.0,2014.0,2014-09-21,3.0,OAK,Away,NWE,L 9-16,Start,34.0,61.76,174.0,0.0,1.0,0.0,0.0,0.0,0.0,59.0
3,4.0,2014.0,2014-09-28,4.0,OAK,Home,MIA,L 14-38,Start,25.0,64.00,146.0,1.0,1.0,1.0,2.0,9.0,0.0,41.0
4,5.0,2014.0,2014-10-12,6.0,OAK,Home,SDG,L 28-31,Start,34.0,52.94,282.0,4.0,1.0,0.0,1.0,2.0,0.0,58.0

In [11]:
hurts_df.to_csv('hurts_dataset.csv', index=False)
mahomes_df.to_csv('mahomes_dataset.csv', index=False)
burrow_df.to_csv('burrow_dataset.csv', index=False)
carr_df.to_csv('carr_dataset.csv', index=False)